a{
color: #208e41
}

a:hover{
  color: #0e5524;
  text-decoration: none;
}

.btn-primary{
}

.main{
  max-width: 1280px;
  min-height: 60vh;
  margin: 20px auto auto auto;
}

.login{
  width: 400px;
  margin: 100px auto 0px auto;
}

.nav li{
  display:inline-block;
  margin: 5px;
}

.nav .active{
  font-weight: bold;
}

.App-header{
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
}

.App-header > div{
  padding: 10px;
  max-width: 1280px;
  margin: auto;
}

.gallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1%;
  grid-row-gap: 15px;
}

.gallery-item{
  display: inline-grid;
  padding: 20px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 2px #e1e1e1;
  background: #fcfcfc;
  border-radius: 5px;
  text-align:center;
}

.gallery-item-header{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

.gallery-item img{
  max-width: 100%;
  max-height: 200px;
  margin: auto
}

.gallery-item img:hover{
  filter: brightness(120%);
}

.gallery-item-author{
  font-size: 0.9rem;
  color: #666666;
}

.block{
  margin: 10px auto 10px auto;
}

.panel-add{
  margin: 20px;
}

.right{
  text-align: right;
}

.loading{
  width: 50px;
  margin: 100px auto;
}

.loading img{
  max-width: 100%;
}

footer{
  margin-top: 20px;
  border-top: 1px solid #cfcfcf;
  text-align: center;
  font-size: 0.9rem;
  background: #f0f0f0;
  padding: 40px 0px;
}

.content-fields > div{
  margin: 15px auto;
}

h2{
  margin-bottom: 30px;
}
