a{

}

a:hover{
  text-decoration: none;
}

.btn-primary{
}

.main{
  max-width: 1280px;
  margin: 20px auto auto auto;
}

.nav li{
  display:inline-block;
  margin: 5px;
}

.App-header{
  background: #f0f0f0;
  border-bottom: 1px solid #cccccc;
}

.App-header > div{
  padding: 10px;
  max-width: 1280px;
  margin: auto;
}

.gallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1%;
  grid-row-gap: 15px;
}

.gallery-item{
  display: inline-grid;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align:center;
}

.gallery-item-header{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

.gallery-item img{
  max-width: 100%;
  max-height: 200px;
  margin: auto
}

.block{
  margin: 10px auto 10px auto;
}

.panel-add{
  margin: 20px;
}

.right{
  text-align: right;
}
