vendor

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/mypage/node_modules
web/mypage/.pnp
web/mypage/.pnp.js

# testing
web/mypage/coverage

# production
web/mypage/build

# misc
.DS_Store
web/mypage/.env.local
web/mypage/.env.development.local
web/mypage/.env.test.local
web/mypage/.env.production.local

web/mypage/npm-debug.log*
web/mypage/yarn-debug.log*
web/mypage/yarn-error.log*
