vendor

var

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/app/node_modules
web/app/.pnp
web/app/.pnp.js

# testing
web/app/coverage

# production
web/app/build

# misc
.DS_Store
web/app/.env.local
web/app/.env.development.local
web/app/.env.test.local
web/app/.env.production.local

web/app/npm-debug.log*
web/app/yarn-debug.log*
web/app/yarn-error.log*
