[Unit]
Description=Digimaker Demo

[Service]
User=<running user>
Environment="dmapp=<App path>"
Environment="GOPATH=<GOPATH, normally in <HOME>/go>"
ExecStart="<Start command with absolute path>"
Restart=always

[Install]
WantedBy=multi-user.target
