[Unit]
Description=Digimaker Demo

[Service]
User=<running user>
#optional
#Environment="GOPATH=<GOPATH, normally in <HOME>/go>"
ExecStart="cd <folder>&&./main"
Restart=always

[Install]
WantedBy=multi-user.target
