<!doctype html>
    <head>
        <title>{%block title%}{{content.Name}} - site2 {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/assets/css/dmdemo.css" />
    </head>
    <body>
            <div class="header">
              <div class="logo"> Site 2
                  <a href="{{dm.root("/")}}">{{root.Name}}<img src="/assets/images/logo.png" /></a>
              </div>
              </ul>
            </div>

        <div class="main {%block class%}default{%endblock%}">
            {%block content%}Default body{% endblock %}
        </div>

        <div class="bottom">
               Copyright {company} 2021
        </div>
    </body>
</html>
